.App {
  background-color: black;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Cutive Mono', monospace;
  background-color: black;
}

.line {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 2rem;
  white-space: pre;
}

.mainInputContainer {
  width: 100%;
  display: flex;

}

.mainInputContainer > span {
  font-size: 2rem;
  color: white;
  padding: 0;
  margin-right: 1rem;
}

.mainInput {
  flex-grow: 1;
  width: 100%;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0;
  caret-shape: block;
  font-family: 'Cutive Mono', monospace;
}

.mainInput:focus {
  outline: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.image {
  width: 35%;
}

.code {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1rem;
  white-space: pre;
}
